@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to Classic Cars!</h1>
    <p class="lead">Classic Cars is an open-source matchmaking framework where users can swap their cars with others.</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register for free &raquo;</a></p>
</div>